GZAAT.DAL/Service References/WS1C/Service1c1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://www.sample-package.org" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sample-package.org" name="Service1c" targetNamespace="http://www.sample-package.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="http://www.sample-package.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sample-package.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Contragents">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="TIN" type="xs:string" />
          <xs:element name="StudentMobilePhone" type="xs:string" />
          <xs:element name="MotherMobilePhone" type="xs:string" />
          <xs:element name="FatherMobilePhone" type="xs:string" />
          <xs:element name="MotherFirstAndLastName" type="xs:string" />
          <xs:element name="FatherFirstAndLastName" type="xs:string" />
          <xs:element name="CurrenciesCod" type="xs:string" />
          <xs:element name="Debt" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContragentsTable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Contragents" type="xs1:Contragents" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateContragents">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateContragentsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:ContragentsTable" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="CreateContragentsRequestMessage">
    <part name="parameters" element="tns:CreateContragents" />
  </message>
  <message name="CreateContragentsResponseMessage">
    <part name="parameters" element="tns:CreateContragentsResponse" />
  </message>
  <portType name="Service1cPortType">
    <operation name="CreateContragents">
      <input message="tns:CreateContragentsRequestMessage" />
      <output message="tns:CreateContragentsResponseMessage" />
    </operation>
  </portType>
  <binding name="Service1cSoapBinding" type="tns:Service1cPortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateContragents">
      <soapbind:operation soapAction="http://www.sample-package.org#Service1c:CreateContragents" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1cSoap12Binding" type="tns:Service1cPortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreateContragents">
      <soap12bind:operation soapAction="http://www.sample-package.org#Service1c:CreateContragents" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1c">
    <port name="Service1cSoap" binding="tns:Service1cSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://192.168.0.9/AmericanAcademy/ws/AmericanAcademy.1cws" />
    </port>
    <port name="Service1cSoap12" binding="tns:Service1cSoap12Binding">
      <soap12bind:address location="http://192.168.0.9/AmericanAcademy/ws/AmericanAcademy.1cws" />
    </port>
  </service>
</definitions>